/*Use this css file for universal css that should apply to color schemes for every page*/
html body div.container div.row div.col-md-4{
	text-align: center;
}

body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}

.navbar navbar-default navbar-fixed-top{
	background-color: #3498db;
	color: white;
}

html body div.container div.row div.col-md-4 div#accordion.panel-group{
	text-align: left;
}
<<<<<<< HEAD
=======

html body div.container div.row div.col-md-4 ul li{
	margin-left: 50px;
}
.btn {
	margin: 0 10px 5px 0;
}
>>>>>>> 12c59762780f460741ec91efc6541bb51408a98c
