.first{
 padding-top: 77px;
 float: left;
 padding-right: 155px;

}
.Bio
{
 padding-top: 62px;
 float: left;
 padding-right: 96px;



}
.contact
{
	
 padding-top: 62px;




}

#opportunity
{
position: relative;
left: 400px;
top: -300px;


}
#opportunity1
{
position: relative;
top: -345px;
left:400px;
}
#opportunity1.op3
{



}
.p1{
position:relative;
top: -263px;
left: 240px;

}
.p2{
position:relative;
top: -259px;
left: 240px;

}
.p3{
position:relative;
top: -200px;
left: 300px;

}
#container
{

position: relative;
top:-171px;
left:400px;


}
#container1
{


border:solid;
width: 529px;
border-width:2px;
height: 270px;
border-width:2px;

}
.left{



}
.body
{

color: #3498db



}
#profile
{

font-size: 42px;
color: white;

}
#vhub
{

float: left;
position: relative;
left: -375px;


}